
extends layout

block content
    ul(style="padding:0;")
        li(style="display:inline;") you are here: 
            a(href='/main-menu') home
            span &nbsp;>
        - for(var i = 0; i < data.breadcrumb.length; i++){
        li(style="display:inline;")
        - var carret = i < data.breadcrumb.length -1 ? '>' : ''
            span= ' '
            a(href= data.breadcrumb[i].path)= data.breadcrumb[i].title 
            span= carret
        - }
                
    h1!= data.item[0].title
    p= data.item[0].body

    if data.item[0]._statistics['a:category-association_INCOMING'] > 0
        - for(var i = 0; i < data.items.length; i++){
        div(class="article")
            h2=data.items[i].title
            p=data.items[i].leadParagraph
            a(href='/' + data.item[0].slug + '/' + data.items[i].slug) More...
        - }    

